body{
    margin: 0;
    background-color: #ede9d0;
}
a{
    color: inherit;
    text-decoration: none;
}
#navbar{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 25%);
}
#title{
    margin: 5px;
    margin-left: 15px;
    width: 200px;
    height: auto;
    cursor: pointer;
    transition: width 0.5s ease;
}
#wrapper{
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 30px;
    color: white;
    font-size: 1.2rem;
}
#homeBtn{
    margin: 15px; 
    cursor: pointer;
    transition: font-size 0.5s ease;
}
#homeBtn:hover{
    font-size: 1.4rem;
}
#aboutBtn{
    margin: 15px; 
    cursor: pointer;
    transition: font-size 0.5s ease;
}
#aboutBtn:hover{
    font-size: 1.4rem;
}
#outerabout{
    display: flex;
}
.innerabout{
    flex: 1; 
    padding: 10px;
    display: flex;
    justify-content: center;
}
.headernameabout {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    width: 100%;
    display: block;
}
.lineabout{
    border: solid 2px black;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 20px;
}
.profilepicabout{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: solid 3px black;
    cursor: pointer;
}
#centerthanks{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5rem;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
.glazingabout{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    text-align: center;
    width: 100%;
    display: block;
}
#centerdivlineabout{
    border: solid 2px black;
}
#contactBtn{
    transition: font-size 0.5s ease;
}
#contactBtn:hover{
    font-size: 1.4rem;
}
@media screen and (max-width:768px) {
    body{
        display: flex;
        flex-direction: column;
    }
    #title{
        margin: 3px;
        margin-left: 10px;
        width: 200px;
        max-width: 30vw;
        height: auto;
        cursor: pointer;
    }
    #bodybodycontact{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 2rem;
        font-weight: bold;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
    #centerdivlineabout{
        border: none;
    }
    #outerabout{
        display: flex;
        flex-direction: column;
    }
    
}